<template name="sidebar">
    <aside class="main-sidebar {{classList}}">
        {{#if brand}}
            {{> Template.dynamic template=brand}}
        {{/if}}
        <div class="sidebar">
            {{#if username}}
                {{> userPanel name=username avatar=userAvatar link=userLink}}
            {{/if}}
            <nav class="mt-2">
                <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu">
                    {{> Template.contentBlock}}
                </ul>
            </nav>
        </div>
    </aside>
</template>
